{% extends 'admin/base/base.html' %}
{% block pageTitle %} Administração de instituições {% endblock %}
{% block content %}

    <div class="row wrapper page-heading">
        <div class="col-lg-12">
            <h2>Administração de instituições</h2>
            <div class="pull-right">
                <a class="btn btn-sm btn-primary pull-right" title="Voltar"
                   href="{% url 'instituicao_index' %}"><i class="fa fa-arrow-left"></i> Voltar
                </a>
            </div>
            {#            <nav aria-label="breadcrumb">#}
            {#                <ol class="breadcrumb">#}
            {#                    <li class="breadcrumb-item active" aria-current="page">Home</li>#}
            {#                </ol>#}
            {#            </nav>#}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <form id="create_form" method="POST" action="{% url 'instituicao_create' %}">
                    {% csrf_token %}
                    <div class="ibox-title">
                        <h5><strong>Detalhes da instituição</strong></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" name="nome" class="form-control" required
                                           data-toggle="popover"
                                           title="Nome da instituição"
                                           data-placement="top" data-trigger="hover"
                                           data-content="Informe o nome da instituição."/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="sigla">Sigla</label>
                                    <input type="text" name="sigla" class="form-control" required
                                           data-toggle="popover"
                                           title="Sigla da instituição"
                                           data-placement="top" data-trigger="hover"
                                           data-content="Informe a sigla da instituição."/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="pais">País</label>
                                    <input type="text" name="pais" class="form-control" required
                                           data-toggle="popover"
                                           title="País da instituição"
                                           data-placement="top" data-trigger="hover"
                                           data-content="Informe o país da instituição."/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="estado">Estado</label>
                                    <input type="text" name="estado" class="form-control" required
                                           data-toggle="popover"
                                           title="Estado da instituição"
                                           data-placement="top" data-trigger="hover"
                                           data-content="Informe o estado da instituição."/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="cidade">Cidade</label>
                                    <input type="text" name="cidade" class="form-control" required maxlength="255"
                                           data-toggle="popover"
                                           title="Cidade da instituição"
                                           data-placement="top" data-trigger="hover"
                                           data-content="Informe a cidade da instituição."/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button type="submit" class="btn btn-sm btn-primary  pull-left"><i
                                        class="fa fa-check"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
