{% extends 'admin/base/base.html' %}
{% block pageTitle %} Administração de disciplinas da grade {% endblock %}
{% block content %}

    <div class="row wrapper page-heading">
        <div class="col-lg-12">
            <h2>Administração de instituições</h2>
            <div class="pull-right">
                <a class="btn btn-sm btn-primary pull-right" title="Adicionar"
                   href="{% url 'instituicao_create' %}"><i class="fa fa-plus"></i> Adicionar
                </a>
            </div>
            {#            <nav aria-label="breadcrumb">#}
            {#                <ol class="breadcrumb">#}
            {#                    <li class="breadcrumb-item active" aria-current="page">Home</li>#}
            {#                </ol>#}
            {#            </nav>#}
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><strong>Instituições cadastradas</strong></h5>
        </div>

        {% if 'success' == message %}
            <div class="alert alert-success" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                Instituição salva com sucesso!
            </div>
        {% endif %}

        {% if 'successDelete' == message %}
            <div class="alert alert-success" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                Insituição apagada com sucesso!
            </div>
        {% endif %}

        {% if 'instituicaoJaCadastrada' == message %}
            <div class="alert alert-danger" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                Já existe uma instituição cadastrada com este nome e/ou sigla!
            </div>
        {% endif %}
        {% if 'cursoAssociado' == message %}
            <div class="alert alert-danger" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                A instituição não pôde ser apagada, pois existe algum curso associado à ela!
            </div>
        {% endif %}
        <div class="ibox-content">
            <div class="table-responsive">
                <table id="instituicoes" class="table table-striped">
                    <thead>
                    <tr>
                        <th title="Nome da instituição">Nome</th>
                        <th title="Sigla da instituição">Sigla</th>
                        <th width="12%">Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instituicao in instituicoes %}
                        <tr>
                            {#                    <th>{{ instituicao.id }}</th>#}
                            <td>{{ instituicao.nome }}</td>
                            <td>{{ instituicao.sigla }}</td>
                            <td>
                                {#                        <a class="btn btn-info" href="">Visualizar</a>#}
                                {#                        <a class="btn btn-warning" href="">Editar</a>#}
                                {#                        <a class="btn btn-danger" href="">Excluir</a>#}
                                <a class="btn btn-info btn-sm" href="{% url 'instituicao_view' instituicao.id %}"
                                   data-toggle="tooltip" title="Detalhar" data-placement="top"><i class="fa fa-file-text-o"></i></a>
                                <a class="btn btn-primary btn-sm" href="{% url 'instituicao_edit' instituicao.id %}"
                                   data-toggle="tooltip" title="Editar" data-placement="top"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-danger btn-sm"
                                   href="{% url 'instituicao_delete' instituicao.id %}" data-reload="true"
                                   title="Excluir"
                                   data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if instituicoes.has_other_pages %}
                    <ul class="pagination">
                        {% if instituicoes.has_previous %}
                            <li><a href="?page={{ instituicoes.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in instituicoes.paginator.page_range %}
                            {% if instituicoes.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if instituicoes.has_next %}
                            <li><a href="?page={{ instituicoes.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
