{% extends 'aluno/base/base.html' %}

{% block pageTitle %} Curricular {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            <div>Olá, {{ user.first_name }} {{ user.last_name }}!</div>
                            <div>Bem-vindo ao Curricular, um sistema para melhorar a trajetória acadêmica do estudante!</div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
