{% load user_tags %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                           <span class="block m-t-xs">
                                <strong class="font-bold">{{ user.first_name }} {{ user.last_name }}</strong>
                            </span> <span class="text-muted text-xs block">{{ user.email }} <b
                                class="caret"></b></span>
                        </span>
                    </a>
                    {% if user.is_authenticated %}
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="{% url 'edit_profile' %}"><i class="fa fa-user"></i> Meus Dados</a>
                        </li>
                        <li><a href="{% url 'change_password' %}"><i class="fa fa-expeditedssl"></i> Alterar senha</a>
                        </li>
                        <li><a href="{% url 'logout' %}" onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();"><i
                                class="fa fa-sign-out"></i> Sair </a></li>
                        <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                            {% csrf_token %}
                        </form>
                    {% endif %}
                    </ul>
                </div>
                <div class="logo-element">
                    CR+
                </div>
            </li>
            <li class="">
                <a href="{% url 'home' %}"><i class="fa fa-graduation-cap"></i> <span class="nav-label">Início</span></a>
            </li>

            {% if user|has_group:"gestor" %}
                <li class="">
                    <a href="#"><i class="fa fa-cogs"></i> <span>Administrar curriculos</span> <i
                            class="fa pull-right"></i></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="">
                            <a href="{% url 'curriculo_index' %}"><i class="fa fa-cog"></i> <span class="nav-label">Curriculos</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-cubes"></i> <span>Administrar grades</span>
                        <i class="fa pull-right"></i>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li class="">
                            <a href="{% url 'grade_index' %}">
                                <i class="fa fa-cube"></i> <span>Grades</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'gradedisciplina_index' %}">
                                <i class="fa fa-book"></i> <span>Disciplinas</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'requisito_index' %}">
                                <i class="fa fa-toggle-left"></i> <span>Pré-requisitos</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'relacionamento_index' %}">
                                <i class="fa fa-compress"></i> <span>Relacionamento</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="{% url 'instituicao_index' %}"><i class="fa fa-building"></i> <span class="nav-label">Instituições</span></a>
                </li>
                <li class="">
                    <a href="{% url 'curso_index' %}"><i class="fa fa-tags"></i> <span
                            class="nav-label">Cursos</span></a>
                </li>
                <li class="">
                    <a href="{% url 'disciplina_index' %}"><i class="fa fa-book"></i> <span
                            class="nav-label">Disciplinas</span></a>
                </li>
            {% endif %}
            {% if user|has_group:"aluno" %}
                <li class="">
                    <a href="#"><i class="fa fa-cogs"></i> <span>Administrar grades</span> <i
                            class="fa pull-right"></i></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="">
                            {#                        <a href="{% url 'aluno_grade_index' %}"><i class="fa fa-cog"></i> <span#}
                            {#                                class="nav-label">Grades</span>#}
                            {#                        </a>#}
                        <li class="">
                            <a href="{% url 'aluno_grade_index' %}"><i class="fa fa-bars"></i> <span
                                    class="nav-label">Grades do curso</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'aluno_grade_gradealuno' %}"><i class="fa fa-list"></i> <span
                                    class="nav-label">Grades do estudante</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'aluno_gradesbalanceadas_index' %}"><i class="fa fa-bars"></i> <span
                                    class="nav-label">Grades balanceadas</span>
                            </a>
                        </li>
                        </li>
                        <li class="">
                            {#                        <a href="#">#}
                            {#                            <i class="fa fa-cubes"></i> <span>Disciplinas</span>#}
                            {#                            <i class="fa pull-right"></i>#}
                            {#                        </a>#}
                            <a href="{% url 'aluno_gradedisciplina_index' %}">
                                <i class="fa fa-cubes"></i> <span class="nav-label">Disciplinas a cursar</span>
                                <i class="fa pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            <li class="">
                <a href="{% url 'comum_usercurso_index' %}"><i class="fa fa-tags"></i> <span class="nav-label">Meus cursos</span></a>
            </li>
              <li class="">
                <a href="{% url 'sobre' %}"><i class="fa fa-info-circle"></i> <span class="nav-label">Sobre</span></a>
            </li>

        </ul>

    </div>
</nav>
