{% extends 'admin/base/base.html' %}
{% block pageTitle %} Administração de pré-requisitos de disciplinas da grade {% endblock %}
{% block content %}

    <div class="row wrapper page-heading">
        <div class="col-lg-12">
            <h2>Administração de pré-requisitos de disciplinas da grade</h2>
            <div class="pull-right">
                <a class="btn btn-sm btn-primary pull-right" title="Voltar"
                   href="{% url 'requisito_index' %}"><i class="fa fa-arrow-left"></i> Voltar
                </a>
            </div>
{#            <nav aria-label="breadcrumb">#}
{#                <ol class="breadcrumb">#}
{#                    <li class="breadcrumb-item active" aria-current="page">Home</li>#}
{#                </ol>#}
{#            </nav>#}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <form id="delete_form" method="POST" action="{% url 'requisito_delete' gradeDisciplina.id %}">
                    {% csrf_token %}
                    <div class="ibox-title">
                        <h5><strong>Apagar pré-requisitos da disciplina da grade</strong></h5>
                    </div>

                    <div class="alert alert-warning" role="alert">
                        <p>Você deseja apagar os pré-requisitos da disciplina
                            <strong>{{ gradeDisciplina.disciplina.nome }}
                                - {{ gradeDisciplina.disciplina.codigo }}</strong> da grade
                            <strong>{{ gradeDisciplina.grade.nome }}? </strong><BR>
                        <strong>Atenção!</strong> Esta operação excluirá os relacionamentos correspondentes!</p>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button type="submit" class="btn btn-sm btn-primary  pull-left"><i
                                        class="fa fa-check"></i>
                                    Sim, apague-o!
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
